body {
    background: red;
  }

.jumbotron {
    margin-top: 0px;
    padding-bottom: 50px;
    padding-top:20px;
    background-image: url("../images/background.png");
    background-size: auto;
}

/* bootstrap column seeting */
.display-4 {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    padding:0px;
    margin-top: 10px;  
}


/* result feild setting */
#resultDisplay{
    padding-top: 100px;
}

#resultDescription{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Bangers', cursive;
  color: #ffffff;
  text-align: center;
}

#result{
  /* padding: 5px; */
  font-size: 128px;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
  color: #ffffff;
  text-align: center;
}

#pokemonDescription{
  padding:10px;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

#pokemonChosen{
  margin: 20px;
  font-size: 40px;
  font-weight: normal;
  font-family: 'Bangers', cursive;
  color: #ffffff;
  text-align: center;

}

#pokemonImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* score feild setting */
#scoreDispaly{
  padding-top: 100px;
}

/* jumbotron title image responsive style */
.img-responsive {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;  
  }


.navi-logo {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: 20%;  
}

  .btn-lg{
    align-items: center;
  }

  h2 {
      color:white;
      text-align: center;
  }

  p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: white;
  }

  audio { 
      position:absolute;
      top:20px;
      left:20px;
      width: 100px; 
      height: 30px;
}


  .btn {
    background: black;
    border-color: BLACK;
    border-radius: 50px;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ffcb05;
    border-color: #ffcb05; /*set the color you want here*/
}

  .form-control{
    border-radius: 50px;
  }
    

  .resultTitle {
      margin-top: 100px;
      text-align: center;
  }


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #ffffff;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #919191;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  

  /* result images css */
  .img-responsive-result {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width:  300px;
    height: 300px;
    border-radius: 50%;
    background-position: left top;
    border: 1px solid #c51902; 
    background: radial-gradient(circle, rgba(254,129,0,1) 0%, rgba(255,0,0,1) 86%, rgba(255,0,0,1) 100%);

}

.footer-text{
    background-color: black;
    margin-top:70px;
    margin-bottom:0px;
    padding:20px;
    text-align: center;
    font-size: 15px;
}



  /* cmedia enquiries */

@media screen and (max-width: 823px) {
 
}

@media screen and (max-width: 768px) {
    .jumbotron {
        margin-top: 0px;
        padding-bottom: 50px;
        padding-top:20px;
        background-image: url("../images/background.png");
        background-size: 150%;
    }
    .img-responsive {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;  
      }
      .top-text {
        font-size: 20px;
        padding-bottom:20px;
    }
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 568px) {

}
    
@media screen and (max-width: 450px) {
    .jumbotron {
        margin-top: 0px;
        padding-bottom: 50px;
        padding-top:20px;
        background-image: url("../images/background.png");
        background-size: 150%;
    }
    .img-responsive {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;  
      }
      .top-text {
        font-size: 13px;
        padding-bottom:20px;
    }
}

@media screen and (max-width: 414px) {
  
  audio { 
    position: fixed; /* fixed audio control */
    padding: 10px;
    top:690px;
    left:0px;
    width: 100%; 
    height: 50px;
    background-color: white;
    z-index: 3;
}
}

@media screen and (max-width: 411px) {
  .jumbotron {
    margin-top: 0px;
    padding-bottom: 50px;
    padding-top:20px;
    background-image: url("../images/background.png");
    background-size: 170%;
    height: 330px;
}
.img-responsive {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;  
  margin-top: 10%;
}

  audio { 
    position: fixed; /* fixed audio control */
    padding-bottom: 20px;
    left:0px;
    width: 100%; 
    height: 60px;
    background-color: white;
    z-index: 1;
    top: 93%;
    bottom: 0;
}
}

@media screen and (max-width: 375px) {
  .jumbotron {
    margin-top: 0px;
    padding-bottom: 50px;
    padding-top:20px;
    background-image: url("../images/background.png");
    background-size: 180%;
    height: 290px;
}
.img-responsive {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;  
  margin-top: 10%;
}

  audio { 
    position: fixed; /* fixed audio control */
    padding-bottom: 20px;
    left:0px;
    width: 100%; 
    height: 60px;
    background-color: white;
    z-index: 1;
    top: 93%;
    bottom: 0;
}
}

@media screen and (max-width: 360px) {

  audio { 
    position: fixed; /* fixed audio control */
    padding: 10px;
    top:590px;
    left:0px;
    width: 100%; 
    height: 50px;
    background-color: white;
    z-index: 3;
    bottom: 0;
}
}

@media screen and (max-width: 320px) {

  .jumbotron {
    margin-top: 0px;
    padding-bottom: 50px;
    padding-top:20px;
    background-image: url("../images/background.png");
    background-size: 180%;
    height: 180px;
}
.img-responsive {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;  
  margin-top: 2%;
}

  audio { 
    position: fixed; /* fixed audio control */
    padding-bottom: 20px;
    left:0px;
    width: 100%; 
    height: 60px;
    background-color: white;
    z-index: 1;
    top: 90%;
    bottom: 0;
}
}




@media screen and (max-width: 280px) {
    body {
        shape-margin: 0px;
        padding:0px;
        width: 113%;
    }

    .jumbotron {
      margin-top: 0px;
      padding-bottom: 50px;
      padding-top:20px;
      background-image: url("../images/background.png");
      background-size: 190%;
      height: 300px;
  }
  .img-responsive {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;  
    margin-top: 15%;
  }
  
    audio { 
      position: fixed; /* fixed audio control */
      padding-bottom: 20px;
      left:0px;
      width: 100%; 
      height: 60px;
      background-color: white;
      z-index: 1;
      top: 92%;
      bottom: 0;
  }
  
}