 <h2>Best Score</h2>
    
                <table class="table table-dark">
                    <tr>
                      <th>Rank</th>
                      <th>Name One</th>
                      <th>Name Two</th>
                      <th>Compatability</th>
                      
                    </tr>
                    {{#each couples}}
                    <tr>
                        <td>{{dataValues.id}}</td>
                        <td>{{dataValues.name1}}</td>
                        <td>{{dataValues.name2}}</td>
                        <td>{{dataValues.compatability}}</td>
                        
                    </tr>
                  </table>